.container{
	max-width: 500px;
    margin:20px auto 60px auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
}